@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table border="1" style="
    height: 700px;
    width: 700px;
">
    <tr>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
    </tr>   
    <tr>    
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
    </tr>   
    <tr>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player1">
                
            </span>
        </td>
    </tr>
    <tr>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
    </tr>
    <tr>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"></td>
    </tr>
    <tr>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
    </tr>
    <tr>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
    </tr>
    <tr>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel">
            <span class="circle-player2">
                
            </span>
        </td>
        <td class="espaco-nao-jogavel"></td>
        <td class="espaco-jogavel"><span class="circle-player2">
                
            </span></td>
        <td class="espaco-nao-jogavel"></td>
    </tr>
</table>